h1 Map New
/ div
/   - @tweets.each do |tweet|
/     / - binding.pry
/     = @twitter_client.oembed(@twitter_client.status(tweet.id).id).html.html_safe
/
/   button#generate_map type="button" value=\#{@tweets}
/     div mapを作成する
/ br
/ input#generate_map type="hidden" value="\#{@tweets.to_json.html_safe}"
