h2 あなただけのMapを作ろう
br
p 位置情報つきツイートを利用してGoogle Mapをカスタマイズ
p あなただけのMapを作ることができます。
br
- User.omniauth_providers.each do |provider|
  button.ui.primary.button
    i.fa.fa-twitter
    = link_to " #{OmniAuth::Utils.camelize(provider)}で登録/ログイン", omniauth_authorize_path(:user, provider), :style => "color: white;"
br
br
br
p ※ 鍵付きアカウントでは利用できません。
= link_to "利用規約", href=term_path
span  | 
= link_to "プライバシーポリシー", href=privacypolicy_path
